body {
  font-family: "Lato", sans-serif;
  color: $color-grey-dark-1;
}

.heading-primary {
  @include center-element;
  padding: 1.8rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: $color-white;
  background-color: $color-black;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: $color-grey-dark-1;
  margin-bottom: $margin-bottom-small;
}

.paragraphy {
  font-size: 1.6rem;
  margin-bottom: $margin-bottom-small;
}
