.section-ballon {
  @include base-section;
  background-image: url("../img/img-8.jpg");
}

.section-street {
  @include base-section;
  background-image: url("../img/img-2.jpg");
}

.section-sun {
  @include base-section;
  background-image: url("../img/img-3.jpg");
}
